html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2b5515;
  outline: 1px solid #2f2f2f;
}

.content {
  margin-top: 20px;
}

@import "mangalist";
@import "general";
@import "topbar";
