$timeout: 0.5s;
.mangaList {
  flex-wrap: wrap;
  justify-content: space-between;

  .manga {
    max-height: 213px;
    max-width: 150px;
    overflow: hidden;
    margin: 10px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    position: relative;

    img.title {
      max-width: 150px;
      cursor: pointer;
      transition: $timeout;
    }

    .manga-bottom, .manga-top {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      transition: $timeout;
    }

    .manga-bottom {
      bottom: 0;
      background: linear-gradient(360deg, #000A, #0000);
      justify-content: flex-start;
    }

    .manga-top {
      top: 0;
      background: linear-gradient(180deg, #000A, #0000);
      justify-content: flex-end;
    }

    .manga-save {
      cursor: pointer;
      line-height: 20px;
      font-size: 20px;
      font-weight: 600;
      padding: 0 3px;

      text-shadow: 0 0 2px #000, 0 0 8px #ff5454, 0 0 4px #890000;
      color: #ff5454;

      &.saved {
        text-shadow: 0 0 2px #000, 0 0 8px #92ff7a, 0 0 4px #2a5c00;
        color: #92ff7a;
      }
    }

    .manga-chapters {
      cursor: pointer;
      line-height: 20px;
      font-size: 20px;
      font-weight: 600;
      text-shadow: 0 0 2px #000, 0 0 8px #000, 0 0 4px #003de8;
      color: #FFF;
      padding: 0 3px;
    }

    &.old {
      .title {
        filter: grayscale(1);
      }
      .manga-top, .manga-bottom{
        opacity: 0;
      }
    }

    &:hover {
      box-shadow: 0 0 5px #000;

      .title {
        filter: none;
      }
      .manga-top, .manga-bottom{
        opacity: 1;
      }
    }
  }
}
