#topbar {
  height: 20px;
  box-sizing: content-box;
  border-bottom: 2px solid #000;
  width: 100%;
  justify-content: space-between;
  cursor: default;

  .openSites {
    .openSite {
      padding: 0 5px;
      cursor: pointer;
      border-left: 2px solid black;
      border-right: 2px solid black;

      &:hover:not(.disabled) {
        background: #eee;
      }

      &.disabled:hover {
        cursor: not-allowed;
      }

      &.active {
        text-shadow: 2px 2px 4px #035700;
      }
    }

    :first-child {
      border-left: none;
    }

    :last-child {
      border-right: 4px solid black;
    }
  }

  .controls {
    font-weight: 800;

    > div:not(.active) {
      cursor: not-allowed;
    }

    .active {
      cursor: pointer;
      text-shadow: 2px 2px 4px #035700;
    }

    .disabled {
      cursor: not-allowed;
      text-shadow: none;
      color: #636363;
    }
  }
}

#topbar-info {
  padding-right: 15px;
}
